InvUdeaCliente/web/WEB-INF/wsdl/localhost_8080/ProveedorWS/ProductoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio.udea.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio.udea.com/" name="ProductoWS">
<wsp:Policy xmlns:wsrmp="http://docs.oasis-open.org/ws-rx/wsrmp/200702" wsu:Id="ProductoWSPortBindingPolicy">
<wsrmp:RMAssertion>
<wsp:Policy/>
</wsrmp:RMAssertion>
<wsam:Addressing/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://servicio.udea.com/" schemaLocation="http://localhost:8080/ProveedorWS/ProductoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="BuscarProducto">
<part name="parameters" element="tns:BuscarProducto"/>
</message>
<message name="BuscarProductoResponse">
<part name="parameters" element="tns:BuscarProductoResponse"/>
</message>
<message name="ConsultarProducto">
<part name="parameters" element="tns:ConsultarProducto"/>
</message>
<message name="ConsultarProductoResponse">
<part name="parameters" element="tns:ConsultarProductoResponse"/>
</message>
<message name="IngresarProducto">
<part name="parameters" element="tns:IngresarProducto"/>
</message>
<message name="IngresarProductoResponse">
<part name="parameters" element="tns:IngresarProductoResponse"/>
</message>
<portType name="ProductoWS">
<operation name="BuscarProducto">
<input wsam:Action="http://servicio.udea.com/ProductoWS/BuscarProductoRequest" message="tns:BuscarProducto"/>
<output wsam:Action="http://servicio.udea.com/ProductoWS/BuscarProductoResponse" message="tns:BuscarProductoResponse"/>
</operation>
<operation name="ConsultarProducto">
<input wsam:Action="http://servicio.udea.com/ProductoWS/ConsultarProductoRequest" message="tns:ConsultarProducto"/>
<output wsam:Action="http://servicio.udea.com/ProductoWS/ConsultarProductoResponse" message="tns:ConsultarProductoResponse"/>
</operation>
<operation name="IngresarProducto">
<input wsam:Action="http://servicio.udea.com/ProductoWS/IngresarProductoRequest" message="tns:IngresarProducto"/>
<output wsam:Action="http://servicio.udea.com/ProductoWS/IngresarProductoResponse" message="tns:IngresarProductoResponse"/>
</operation>
</portType>
<binding name="ProductoWSPortBinding" type="tns:ProductoWS">
<wsp:PolicyReference URI="#ProductoWSPortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="BuscarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="IngresarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductoWS">
<port name="ProductoWSPort" binding="tns:ProductoWSPortBinding">
<soap:address location="http://localhost:8080/ProveedorWS/ProductoWS"/>
</port>
</service>
</definitions>